<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LoginTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".views.seller.createshop.CreateShop_3Activity"
            android:exported="false" />
        <activity
            android:name=".views.seller.createshop.CreateShop_2Activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.seller.createshop.createshop_1Activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".views.seller.Profil_1Activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".views.RegisterSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".views.homepage.HomepageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://setaman.page.link/flr"
                    android:scheme="http" />
                <data
                    android:host="https://setaman.page.link/flr"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.reset_password.NewPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".views.reset_password.ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterVerificationActivity"
            android:exported="true" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
        <!-- <data -->
        <!-- android:host="florist-9a390.web.app" -->
        <!-- android:scheme="https"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data -->
        <!-- android:host="https://setaman.page.link/flr" -->
        <!-- android:scheme="https"/> -->
        <!-- </intent-filter> -->
        <activity
            android:name=".views.RegisterSelectVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".views.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".views.Login"
            android:exported="true" />
        <activity
            android:name=".views.splashscreen.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".views.splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen" />
    </application>

</manifest>